* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  border-bottom: 3px solid #afbad2;
  width: 80%;
  margin: 0 auto;
}

.blog-body {
  background-color: #030616;
  color: white;
  font-family: "Inter", serif;
}

main {
  margin-top: 5em;
  text-align: center;
}

img {
  width: 100%;
  object-fit: contain;
  margin-top: 2em;
}

h1 {
  font-weight: bold;
  padding: 0.5em;
}

.paragraph {
  margin-top: 3em;
  text-align: left;
  padding: 1.5em;
}

.header {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
}

.paragraph p {
  margin-top: 2em;
  line-height: 1.5em;
}

footer {
    text-align: center;
    color: #BEC1DD;
    padding: 2em;
    border-top: 1px solid #BEC1DD;
    margin-top: 3em;
}

@media only screen and (min-width: 850px) {
  img {
    width: 70%;
  }

  .paragraph {
    width: 80%;
  }

  .title {
    width: 30%;
  }
}
